*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: cadetblue;
}

li{
list-style-type: none;
}

nav{
    display:flex;
    gap:30px;
    justify-content: center;
    text-decoration: none;
    list-style: none;
}

.sol{
    position: absolute;
    mix-blend-mode: multiply;
}

p{
    display: flex;
    margin-top: 250px;
}


.bandeira{
    margin-top: 300px;
    background:
}